APP_NAME=example-name
APP_ENV_NAME=lefuturiste-dev
APP_DEBUG=1

#Twig cache path, if your want don't have cache write false
TWIG_CACHE=false

LOG_DISCORD=1
LOG_PATH=../log
LOG_LEVEL=INFO

MYSQL_HOST=example.org
MYSQL_PORT=3306
MYSQL_DATABASE=dev
MYSQL_USERNAME=dev
MYSQL_PASSWORD=dev
